.label {
  display: block;
  text-transform: capitalize;
}

.input {
  display: block;
  margin-top: 7px;
  padding: 8px 10px;
  width: 100%;
}

.message {
  font-size: 14px;
  margin-top: 5px;
  height: 10px;
  color: red;
}
